<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Context params -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/*-context.xml</param-value>
  </context-param>

  <!-- Listeners -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
 	<servlet-name>spring4gwt</servlet-name>
 	<servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	<servlet-name>spring4gwt</servlet-name>
 	<url-pattern>/EBanking/services/*</url-pattern>
  </servlet-mapping>




	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>EBanking.html</welcome-file>
	</welcome-file-list>

</web-app>
